{
  "env": {
    "es2021": true
  },
  "extends": [
    "google",
    "plugin:jasmine/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "jasmine"
  ],
  "rules": {
    "indent": ["error", 2],
    "max-len": ["warn", {"code": 200, "tabWidth": 2}],
    "object-curly-spacing": ["error", "always"],
    "require-jsdoc": "off",
    "linebreak-style": 0,
    "jasmine/no-pending-tests": 0
  }
}
